/*@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');*/

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

div {
    display: flex;
    flex-wrap: wrap;
}

body {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.big {
    font-size: 4.1em;
    font-weight: 800;
    transition: 0.2s;
    color: #151515;
}

.bold {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 1vh;
    transition: 0.2s;
    /*padding-bottom: 5px;*/
    text-transform: uppercase;
    color: #151515;
}

.text_left {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 6vh;
    transition: 0.2s;
}

.col50_right .big {
    padding-top: 6vh;
}

.row {
    position: relative;
    display: flex;
    overflow: auto;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    transition: 0.2s;
}

.home_page {
    position: relative;
    z-index: 1;
    margin-top: -10vh;
    transition: all 0.2s ease-out;
}

.col50_left {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: 100vh;
    /*z-index: 1;*/
    padding: 15vh 12vw;
    transition: all 0.2s ease-out;
    background-color: rgba(0, 71, 255, 0.6);
}

.col50_right {
    position: relative;
    /* border: 2px dashed rgba(120, 120, 120, 0.4); */
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;
    /* z-index: 1; */
    padding: 15vh 12vw;
    transition: all 0.2s ease-out;
    background-color: rgba(255, 0, 0, 0.6);
}

.form_container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 1.05em;
    font-weight: 800;
    display: inline-block;
    width: 80%;
    height: 6vh;
    margin: 5px;
    cursor: pointer;
    -moz-transition: all 0.2s ease-out;
    /*padding: 0.3em;*/
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: none;
}

/*.progress_btn {*/
/*    width: 50%;*/
/*    background: none;*/
/*    height: 6vh;*/
/*    border: 1px solid rgba(255, 0, 0, 0.6);*/
/*    color: rgba(255, 0, 0, 0.6);*/
/*}*/

button:hover {
    cursor: pointer;
    text-decoration: none;
    border-color: white;
    background-color: white;
}

.col50_left button:hover {
    color: rgba(0, 71, 255, 0.6);
}

.col50_right button:hover {
    color: rgba(255, 0, 0, 0.6);
}


/*****LOGIN FORM*****/
.login_popup {
    display: none;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
    margin-top: 70px;
    padding: 20px;
    transition: 0.2s;
    -webkit-animation: animateZoomBounce 0.5s;
    animation: animateZoomBounce 0.5s;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.38);
}

@-webkit-keyframes animateZoomBounce {
    15% {
        -webkit-transform: scale(1.1);
    }
    35% {
        -webkit-transform: scale(0.97);
    }
    55% {
        -webkit-transform: scale(1.03);
    }
    75% {
        -webkit-transform: scale(1);
    }
}

@keyframes animateZoomBounce {
    15% {
        transform: scale(1.1);
    }
    35% {
        transform: scale(0.97);
    }
    55% {
        transform: scale(1.03);
    }
    75% {
        transform: scale(1);
    }
}

label.username_label, .password_label {
    font-size: 1.8em;
    margin-top: 10px;
}

div.login_label {
    font-size: 2em;
    padding-bottom: 30px;
    margin-top: 10px;
    color: #151515;
}

input[type=text], input[type=password] {
    font-size: 1em;
    width: 80%;
    height: 5vh;
    margin: 10px 0 20px 0;
    padding: 15px;
    border: none;
    border-radius: 7px;
    background: white;
    transition: 0.3s;
}

input[type=text]:hover, input[type=password]:hover {
    outline: 3px solid rgb(255 101 101 / 75%);
    background-color: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    outline: 2px solid #ff0000;
    background-color: #ffffff;
}

.login_popup button {
    width: 60%;
    height: 4.5vh;
    margin: 10px 0;
    color: #0055ff;
    border: 2px solid rgba(97, 141, 250, 0.35);
    background-color: rgba(97, 141, 250, 0.35);
    transition: 0.3s;
}

.login_popup .close_btn {
    color: red;
    border: 2px solid #ff5e5e59;
    background-color: #ff5e5e59;
    transition: 0.2s;
}

.login_popup .close_btn:hover {
    color: #ffffff;
    border: 1px solid #ff3333;
    background-color: #ff3333;
    transition: 0.2s;
}

.login_popup button:hover {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid rgb(97, 138, 242);
    background-color: rgb(97, 141, 250);
    transition: 0.2s;
}

.login_popup button:focus {
    outline: 3px solid #ff6200;
}

.hidden {
    display: none;
}


/*RESPONSIVE*/
/*===========*/

@media (max-width: 1440px) {
    .col50_right {
        padding: 15vh 10vw;
    }
}

@media (max-width: 1280px) {
    .col50_right {
        padding: 15vh 9vw;
    }
    input[type=text], input[type=password] {
        width: 100%;
    }
}

@media (max-width: 1080px) {
    .col50_right {
        padding: 15vh 8vw;
    }
}

@media (max-width: 900px) {
    .row {
        flex-direction: inherit;
        height: 100vh;
        transition: 0.2s;
    }

    .col50_left {
        height: 55vh;
    }

    .col50_right {
        height: 45vh;
    }

    .col50_right,
    .col50_left {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        padding: 0 5vh 0 5vh;
        transition: 0.2s;
    }

    .col50_right .big {
        padding-top: 0;
    }

    .col50_right .open_form_btn {
        margin-bottom: 3vh;
    }

    .big {
        font-size: 3.5em;
        font-weight: 600;
    }

    .small {
        font-size: 2em;
        font-weight: 600;
        transition: 0.2s ease-in-out;
    }

    .text_left {
        padding-top: 6vh;
    }

    .big, .bold {
        transition: 0.2s;
    }

    button {
        width: 65%;
        transition: 0.2s;
    }

    .login_popup {
        position: relative;
        width: 60%;
        height: 90%;
        margin-top: 0;
        padding: 20px;
        transition: 0.2s;
        border: 0 solid #f1f1f1;
    }

}

@media (max-width: 540px) {
    .home_page {
        /*margin-top: -8vh;*/
        transition: 0.2s;
    }

    .col50_right {
        width: 100%;
        height: 46vh;
        padding: 0;
        transition: 0.2s;
    }

    .col50_left {
        width: 100%;
        height: 54vh;
        padding: 0;
        transition: 0.2s;
    }

    .hidden {
        display: block;
    }

    .login_popup {
        position: relative;
        width: 90%;
        height: 90%;
        margin-top: 0;
        padding: 20px;
        transition: 0.2s;
    }

}

